h1.title {
    color: khaki;
    background-image: url("pattern.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.brushes h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

p span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}